@page "/util/border"

<PageTitle>
    <Title>边框(Border)</Title>
    <Description>
        使用边框工具快速设置元素的边框和边框半径。非常适合图像、按钮或任何其他元素。
    </Description>
</PageTitle>
<Paragraph>
    <Span Border="true" Styles="@("width:5rem;height:5rem;display:inline-block")" BgColor="BgColor.Light">

    </Span>

    <Span BorderTop="true" Styles="@("width:5rem;height:5rem;display:inline-block")" BgColor="BgColor.Light">

    </Span>
    <Span BorderBottom="true" Styles="@("width:5rem;height:5rem;display:inline-block")" BgColor="BgColor.Light">

    </Span>
    <Span BorderLeft="true" Styles="@("width:5rem;height:5rem;display:inline-block")" BgColor="BgColor.Light">

    </Span>
    <Span BorderRight="true" Styles="@("width:5rem;height:5rem;display:inline-block")" BgColor="BgColor.Light">

    </Span>
</Paragraph>